@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.flogo{
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: rgb(217, 217, 217);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    font-size: 12px;;
}

.hero {
    background-color: #1F2937;
    color: white;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
}
.herobigtxt {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8
}
.heroleftbox {  
    padding: 100px;
}

.herosmalltxt {

}

.signup1 {
    background-color: #3882F6;
    color: white;
    border: 5px solid #3882F6;
    margin: 0;
    padding: 0px 12px;
    border-radius: 5px;
}

.herorightbox {
    height: 240px;
    min-width: 510px;
    background-color: rgb(196, 194, 194);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/hero.png);
    background-repeat: round;
    border-radius: 15px;
    
}

.cardinfo {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
    margin-top: 120px;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin: 0px 100px 100px 100px;
}

.card {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    margin: 58px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1 {
    background-image: url(images/card1.jpeg);
    background-repeat: round;
}
.card2 {
    background-image: url(images/card2.webp);
    background-repeat: round;
}
.card3 {
    background-image: url(images/card3.webp);
    background-repeat: round;
}
.card4 {
    background-image: url(images/card4.webp);
    background-repeat: round;
}
.quote {
    background-color: #E5E7EB;
    height: 220px;
    font-size: 40px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    font-style: italic;
}

.qauthor {
    font-weight: bold;
    font-size: 60px;
}

.bottomcardbox {
    background-color: #3882F6;
    height: 150px;
    margin: 150px;
    border-radius: 10px;
    outline: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px
}

.bottomcard {
    color: #F9FAF8;
    padding-left: 0;
    margin-left: 0;
}

.signup2 {
    background-color: #3882F6;
    color: white;
    border: 2px solid #fefefe;
    margin: 0;
    padding: 3px 20px;
    border-radius: 5px;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}