@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 28px;
}

.flogo{
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: rgb(217, 217, 217);
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    font-size: 12px;;
}

.hright {
    font-size: 20px;
    color:#cdcdcd;
    gap: 30px;
}

.hero {
    background-color: #1F2937;
    color: white;
    height: 560px;
    display: flex;
    justify-content: center;
    padding: 0px 250px;
    align-items: center;
    gap: 47px;
}
.herobigtxt {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8
}
.heroleftbox {  
    margin-bottom: 100px;
}

.herosmalltxt {
    margin-top: -30px;
}

.button {
    background-color: #3882F6;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    padding: 10px 48px;
    transition-duration: 0.4s;
}

.signup1:hover {
    background-color: rgb(255, 75, 25);
    margin: 0;
    padding: 10px 48px;
    border-radius: 8px;
}

.signup2 {
    border: 2px solid #fefefe;

}
.signup2:hover {
    background-color: rgb(255, 75, 25);
    margin: 0;
    padding: 9px 46px;
    border-radius: 8px;
}

.herorightbox {
    height: 290px;
    min-width: 630px;
    background-color: rgb(196, 194, 194);
    color: black;
    background-image: url(images/hero.webp);
    background-repeat: round;
    border-radius: 15px;
    margin-bottom: 50px;
    
}

.cardinfo {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:#1F2937;
    margin-top: 50px;
}

.cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
    margin: 0px 100px 100px 100px;
    flex-wrap: wrap;
} 

.card {
    width: 250px;
    height: 250px;
    border: 5px solid #3882F6;
    border-radius: 30px;
    margin: 58px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1 {
    background-image: url(images/card1.jpeg);
    background-repeat: round;
}
.card2 {
    background-image: url(images/card2.webp);
    background-repeat: round;
}
.card3 {
    background-image: url(images/card3.webp);
    background-repeat: round;
}
.card4 {
    background-image: url(images/card4.webp);
    background-repeat: round;
}

.cardcaption {
    max-width: 250px;
    height: auto;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.caption {
    margin-top: -50px;
    padding: 10px;
}
.quote {
    background-color: #E5E7EB;
    height: 220px;
    font-size: 40px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    font-style: italic;
}

.qauthor {
    font-weight: bold;
    font-size: 40px;
    margin-left: 800px;
}

.bottomcardbox {
    background-color: #3882F6;
    height: 120px;
    margin: 130px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.bottomcard {
    color: #F9FAF8;
    margin-left: 0;
    
}
.smalltxt {
    color: #e7e7e7;
    margin-top: -20px;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}